<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>Traffic Signs Detection</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Traffic Signs Recognition</h1>
        </div>
        <div id="content">
            <p>Upload an image/video or use your webcam to detect traffic signs.</p>
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <!-- Add an input element with type file and id, but hide it -->
                <input type="file" id="file-selector" name="file" style="display: none;" accept="image/*, video/*">
                <!-- Use a button to trigger file selection -->
                <button id="upload-button" type="button">Upload an Image or a video</button>
                <!-- Added a submit button -->
                <input type="submit" style="display: none;">
            </form>
            <!-- Button to open webcam in a new tab -->
            <button id="webcam-button">Use Webcam</button>
            <p>{{ error }}</p>
            <!-- Added div for displaying prediction result -->
            <div id="prediction-result">
                {% if name_class %}
                    <h3>This image refers to a {{ name_class }} sign with a confidence of {{ confidence_level }}</h3>
                    <!-- Display the uploaded image -->
                    <img src="{{ url_for('static', filename='uploads/' + file.filename) }}" alt="Uploaded Image" style="max-width: 500px; max-height: 500px;">
                {% else %}
                    <!-- No prediction available message -->
                {% endif %}
            </div>
        </div>
        <div id="footer">
            <p>ANNs Winter Semester 2023/2024</p>
        </div>
    </div>

    <script>
           // Function to trigger file selection when the button is clicked
            document.getElementById('upload-button').addEventListener('click', function() {
                document.getElementById('file-selector').click();
            });

            // Submit the form when a file is selected
            document.getElementById('file-selector').addEventListener('change', function() {
                document.getElementById('upload-form').submit();
            });

        // Function to open webcam in a new tab when the button is clicked
        document.getElementById('webcam-button').addEventListener('click', function() {
            window.open('/webcam.html', '_blank');
        });
    </script>
</body>
</html>
