<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>Traffic Signs Detection</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Traffic Signs Recognition</h1>
        </div>
        <div id="content">
            <p>Upload an image/video or use your webcam to detect traffic signs.</p>
            <form id="upload-form" enctype="multipart/form-data">
                <!-- Add an input element with type file and id, but hide it -->
                <input type="file" id="file-selector" name="file" style="display: none;" accept="image/*, video/*">
                <!-- Use a button to trigger file selection -->
                <button id="upload-button" type="button">Upload an image or a video</button>
            </form>
            <!-- Button to open webcam in a new tab -->
            <button id="webcam-button">Use Webcam</button>
            <!-- Container for uploaded image and heatmap -->
            <div id="image-heatmap-container" style="width: 100%; height: auto;">
                <div id="images-container" style="display: flex; justify-content: space-around;">
                    <div id="image-container" style="max-width: 400px;">
                        <!-- Display the uploaded image -->
                        <img id="uploaded-image" style="display: none; width: 100%; height: auto;">
                    </div>
                    <!-- Display the superimposed image -->
                    <div id="superimposed-image-container" style="max-width: 400px;">
                        <!-- Superimposed image will be displayed here -->
                    </div>
                </div>
            </div>
            <p id="error-message" style="color: red;"></p>
            <!-- Added div for displaying prediction result -->
            <div id="prediction-result"></div>
        </div>
        <div id="footer">
            <p>ANNs Winter Semester 2023/2024</p>
        </div>
    </div>

    <script>
        // Add an event listener to the file selector change
        document.getElementById('file-selector').addEventListener('change', function() {
            // Reset previous prediction and superimposed image
            document.getElementById('error-message').innerText = '';
            document.getElementById('prediction-result').innerText = '';
            document.getElementById('superimposed-image-container').innerHTML = '';

            // Get the selected file
            const fileInput = this.files[0];

            // Create a FormData object with the file
            const formData = new FormData();
            formData.append('file', fileInput);

            // Send the FormData object to the server
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    // Handle error if necessary
                    document.getElementById('error-message').innerText = data.error;
                } else {
                    // Extract the text content from JSON response
                    const nameClass = data.name_class;
                    const confidenceLevel = data.confidence_level;
                    const camPath = data.cam_path;

                    // Display the uploaded image
                    const uploadedImage = document.getElementById('uploaded-image');
                    uploadedImage.style.display = 'block';
                    uploadedImage.src = 'data:image/jpeg;base64,' + data.uploaded_image;
                    uploadedImage.style.width = '100%';
                    uploadedImage.style.height = 'auto';

                    // Display the superimposed image
                    const superimposedImage = document.createElement('img');
                    superimposedImage.src = camPath;
                    superimposedImage.style.width = '100%';
                    superimposedImage.style.height = 'auto';

                    // Get the superimposed image container and append the superimposed image
                    const superimposedImageContainer = document.getElementById('superimposed-image-container');
                    superimposedImageContainer.appendChild(superimposedImage);

                    // Set the inner text of the prediction result div
                    const predictionResultDiv = document.getElementById('prediction-result');
                    predictionResultDiv.innerHTML = `
                        <p>This image refers to a ${nameClass} sign with a confidence of ${confidenceLevel}</p>
                    `;

                    // Print the prediction
                    console.log('Prediction:', nameClass, 'Confidence:', confidenceLevel);
                }
            })
            .catch(error => console.error('Error fetching prediction:', error));
        });
            
        // Function to open webcam in a new tab when the button is clicked
        document.getElementById('webcam-button').addEventListener('click', function() {
            window.open('/webcam.html', '_blank');
        });
            
        // Add an event listener to the upload button click
        document.getElementById('upload-button').addEventListener('click', function() {
            // Trigger file selection when the upload button is clicked
            document.getElementById('file-selector').click();
        });
    </script>
</body>
</html>
